.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-top {
  z-index: 0;
  max-width: 300px;
  max-height: 250px;
  min-width: 300px;
  min-height: 250px;
}

.card-img-caption .card-text {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 5px;
  cursor: pointer;
}

.alert-delete {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-user {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 20px;
  color: grey;
  cursor: pointer;
}
