#delay {
  font-size : 16px;
  font-weight:bold;
}

#delay > input.form-control {
  width : 80px;
  display : inline-block;
}

.sortableHelper {
  list-style-type: none;
  border : 1px dashed black;
  padding: 5px;
  cursor : grabbing;
  cursor : -webkit-grabbing;
}


.sortableHelper .drag:hover {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.drag:hover {
  cursor: grab;
  cursor: -webkit-grab;
}
