.cust-col-11 {
    flex: 0 0 96.66667%;
    max-width: 96.66667%;
}

.cust-col-1 {
    flex: 0 0 3.33333%;
    max-width: 3.33333%;
}

.settings-options {
  font-size: 20px;
}

.linkDecorator {
  text-decoration-line: underline !important;
  text-decoration-color: royalblue;  
}

.ColorPicker {
  margin-top: 35px;
  margin-left: 23px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid transparent;
}

.ColorPicker:hover {
  border: 5px solid;
}

.SketchPicker {
  padding: 0rem;
}

.modal-backdrop
{
    opacity:0 !important;
}

.align-right {
  float: none;
  text-align: right;
}
.align-center {
  float: none;
  text-align: center;
}
/*
.unordered-list-item.align-center {
  text-align: center;
  border: 1px solid;
}

.unordered-list-item.align-right {
  float: right;
  text-align: left;
  border: 1px solid;
}
*/

/* The alignment below isn't centered the "correct way" */
.unordered-list-item.align-center {
  text-align: left;
  float: none;
  /*border: 1px solid;*/
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.ordered-list-item.align-center {
  text-align: left;
  float: none;
  /*border: 1px solid;*/
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.unordered-list-item.align-right {
  text-align: left;
  float: none;
  margin-left: 70%
  /*border: 1px solid;*/
}

.ordered-list-item.align-right {
  text-align: left;
  float: none;
  margin-left: 70%
  /*border: 1px solid;*/
}



