.cust-col-11 {
    flex: 0 0 96.66667%;
    max-width: 96.66667%;
}

.cust-col-1 {
    flex: 0 0 3.33333%;
    max-width: 3.33333%;
}

.settings-options {
  font-size: 20px;
}

.linkDecorator {
  text-decoration-line: underline !important;
  text-decoration-color: royalblue;  
}

.ColorPicker {
  margin-top: 35px;
  margin-left: 23px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid transparent;
}

.ColorPicker:hover {
  border: 5px solid;
}

.SketchPicker {
  padding: 0rem;
}

.modal-backdrop
{
    opacity:0 !important;
}

.align-right {
  float: none;
  text-align: right;
}
.align-center {
  float: none;
  text-align: center;
}
