<div class="index d-flex justify-content-center align-items-end">
  <h2 class="text-white">Welcome to Slideshow</h2>
</div>
<div class="foot">
  <div>
    <i class="fas fa-graduation-cap fa-7x mb-3"></i>
    <h4>Learn</h4>
    <p>
      Navigate slideshows on topics dealing with the health and wellness department.
    </p>
  </div>
  <div>
    <i class="fas fa-clipboard-list fa-7x mb-3"></i>
    <h4>Practice</h4>
    <p>
      Take quiz slides that reinforce topics learned.
    </p>
  </div>
  <div>
    <i class="fas fa-check-circle fa-7x mb-3"></i>
    <h4>Succeed</h4>
    <p>
      Achieve knowledge by succesfully completing slideshows.
    </p>
  </div>
</div>

<style>
  div.index {
    padding: 10%;
    text-align: center;
    background: url("<?=$home_img?>");
    background-repeat: no-repeat;
    background-position: 40% 15%;
    height: 300px;
    color: white;
  }

  div.foot {
    margin: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sign-in {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  a.sign-in:hover {
    text-decoration: none;
  }
</style>