<div class="index">
  <h3 style="margin-bottom: 20px">Welcome to Slideshow</h3>
  <img src="<?=$home_img?>" alt=" ">
  <div class="sign-in">
    <a  class="sign-in" href="<?=$login_url?>"><button class="btn btn-primary btn-block">Sign in</button></a>
  </div>
</div>

<style>
    div.index {
      padding: 20%;
      text-align: center;
      background-color: #E5E7E9
    }

    .sign-in {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }

    a.sign-in:hover {
      text-decoration: none;
    }

  </style>