<?php if ($logged):?>
<nav class="navbar  bg-white" style="margin-bottom: 10px; color: #3f653a" >
  <a class="text-primary" href="<?=$home?>slideshow/Show">Home <i class="fas fa-home"></i></button>
  <?php if ($is_deity): ?>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dev</a>
    <div class="dropdown-menu" mr-auto>
      <a class="dropdown-item" href="<?=$boost_uri?>"><i class="fas fa-download"></i> Boost</a>
    </div>
  </li>
  <?php endif; ?>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <?=$username ?></a>
    <div class="dropdown-menu">
      <?php if ($admin): ?>
      <a class="dropdown-item" href="index.php?module=controlpanel"><i class="fas fa-cog"></i> Control panel</a>
      <?php endif; ?>
      <a class="dropdown-item" href="<?=$logout_uri?>"><i class="fas fa-sign-out-alt"></i> Sign out</a>
    </div>
  </li>
</nav>
<?php endif; ?>