ul.navbar-items {
    padding : 0px;
}

ul.navbar-items li {
    list-style-type : none;
}

h2 {
    margin:0;
    padding: 0;
}

/* General styles for all menus */
.side-menu {
    padding-left : 10px;
    padding-top : 40px;
    background: #222;
    position: fixed;
    color : #fff;
}

.side-menu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
}

.side-menu a:hover {
    background: #e3e3e3;
    color: black;
    text-decoration : none;
}

.side-menu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.side-menu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.side-menu-vertical a {
    padding: 8px;
}

/* Vertical menu that slides from the left or right */

.side-menu-left {
    left: -200px;
}

.side-menu-left.side-menu-open {
    left: 0px;
}

/* Push classes applied to the body */

.application {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.application-toright {
    left: 200px;
}

.application-toleft {
    left: -200px;
}

/* Transitions */

.side-menu,
.application {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#show-left-push:hover,#hide-left-push:hover {
    cursor: pointer;
}

#show-left-push {
    padding: 8px;
    background-color: #222;
    color: white;
    /*display: inline-block;*/
    display : block;
    position: absolute;
    left: 0;
    top : 0;
    border-right : 1px solid white;
    border-bottom : 1px solid white;
    
}

#hide-left-push {
    padding: 8px;
    background-color: #000;
    color: white;
    display: inline-block;
}

.pointer:hover {
    cursor : pointer;
}

.slideshow {
    padding : 0 2.5em;
}

.dropzone {
    border-style: dashed;
    border-radius: 6px;
    width : 100%;
    height: 200px;
    overflow: auto;
}

.dropzone div {
    padding-top : 30px;
}

.marginTop {
    margin-top : 1em;
}

.marginBottom {
    margin-bottom : 1em;
}

.marginRight {
    margin-right : 1em;
}

.marginLeft {
    margin-left : 1em;
}

.slide-listing ul {
    margin : 0px;
    padding : 0px;
}
.slide-listing ul li {
    padding: 5px;
    margin: 4px 0;
    font-size : 16px;
    list-style-type: none;
    border : 1px solid black;
    border-radius : 6px;
}

@media screen and (max-height: 26.375em){

    .side-menu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .side-menu-left,
    .application-toleft {
        left: -190px;
    }

    .application-toright {
        left: 190px;
    }
}
