$gray: #9f9f9f;

.new-slide {
  width : 140px;
  height : 100px;
  padding-top: 15px;
  border: 2px dashed $gray;
  border-radius : 6px;
  
  &:hover {
    cursor : pointer;
  }
  
  .fa {
    color : $gray;
  }
}
